.modal {
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
}

.modal__background {
  background: #CCCCCC;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.modal__wrapper {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.modal__form {
  background-color: #fff;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  display: flex;
  align-items: stretch;
}

.modal__title {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.025em;
  margin: 0 0 31px 0;
}

.form {
  width: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

.form__text {
  font-size: 20px;
  text-align: start;
}

.form__input {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border: none;
  padding: 16px 41px 13px;
  background-image: url('../../assets/icons/search.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-position: 13px 13px;
  background-repeat: no-repeat;
  letter-spacing: 0.1em;
  background: #F2F4F7;
}

.form__label {
  font-size: 14px;
  text-wrap: nowrap;
}

.form__wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.formGroup {
  background: #F2F4F7;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formGroup__select {
  padding: 13px 11px 11px 13px;
  position: relative;
}

.formGroup__date {
  background-image: url('../../assets/icons/date.svg');
  background-repeat: no-repeat;
  background-position: 13px 14px;
  padding-left: 40px;
  width: 27%;
}

.form__list {
  margin: 0;
  position: absolute;
  background: #F2F4F7;
  padding: 11px 0;
  list-style-type: none;
  width: 100%;
  left: 0;
  top: 50px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;

  li {
    padding: 5px 13px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
  }

  li:hover {
    background-color: #fff;
  }
}

.formGroup__role {
  width: 30%;
}

.form__gender {
  gap: 5px;
}

.selctIcon {
  background-image: url('../../assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.selctIcon_active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.genderBtn {
  width: 140px;
  height: 40px;
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.form__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.form__icon_male {
  background-image: url('../../assets/icons/man.svg');
}

.form__icon_female {
  background-image: url('../../assets/icons/woman.svg');
}

.modal__btns {
  margin-top: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}

.modal__button {
  width: 260px;
  height: 44px;
  background-color: #F2F4F7;
}

.modal__button_active {
  background-color: #4DA2D6;
  color: #fff;

  span {
    filter: brightness(0) invert(1);
  }
}

.modal__button_active:hover {
  background-color: #4087B2;
}

@media screen and (min-width: 921px) {
  .modal__form {
    width: 49%;
  }
}

@media screen and (max-width: 920px) {
  .modal__form {
    width: 70%;
  }
}

@media screen and (max-width: 1450px) {
  .form__wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 790px) {
  .modal__form {
    width: 100%;
  }
  
  .form__wrapper {
    flex-direction: column;
  }
}
