.table__wrapper {
  overflow: scroll;
  height: calc(100vh - 553px);
  width: calc(100vw - 60px);
  margin: 21px 30px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;

  td {
    border-bottom: 1px solid #DAE3F1;
    padding: 0 20px 13px 6px;
    width: 140px;
    font-size: 14px;
  }

  td:first-child {
    width: 57.4vw;
    padding-left: 20px;
  }

  td:nth-child(2) {
    width: 200px;
    text-decoration: underline;
  }

  td:last-child {
    width: 74px;
    padding-right: 11px;
  }
}

.table__header {
  background-color: #fff;
  border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

    th {
    padding: 14px 6px;
  }
}

.table__container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.table__container_long {
  gap: 10px;
}

.table__avatar {
  width: 44px;
  height: 44px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.table__gender {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.table__gender_female {
  background-image: url('../../assets/icons/woman.svg');
}

.table__btn {
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.table__btn:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.table__btn_edit {
  background-image: url('../../assets/icons/edit.svg');
}

.table__btn_remove {
  background-image: url('../../assets/icons/delete.svg');
}

.table__td {
  min-width: 130px !important;
}

.table__wrapper::-webkit-scrollbar {
  background: none;
  height: 10px;
  width: 6px;
}

.table__wrapper::-webkit-scrollbar-track {
  background: none;
}

.table__wrapper::-webkit-scrollbar-thumb {
  background-color: #C3D3E5;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.table__wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #C3D3E5;
}

.table__wrapper::-webkit-scrollbar-thumb:active {
  background-color: #C3D3E5;
}

tr {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

tr:hover {
  background-color: #E9EDF5;
}

tr {
  height: 58px !important;
  display: inline-block;
  width: 100%;
  padding-top: 13px;
}

.tr_active {
  background-color: #E9EDF5;
}